<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{tab_title}}</title>
        <link rel="stylesheet" type="text/css" href="/public/site.css">
    </head>
    <body>
        {{{body}}}
        <script src="/public/js/form.js"></script>
    </body>
</html>