<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/site.css">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="public/css/spin.css" />
</head>

<body>
    <h1>{{title}}</h1>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {{> (lookup . 'partial') }}
</body>

</html>