<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
<<<<<<< HEAD
=======
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Titillium+Web&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
>>>>>>> 818ef8e16899fc852e074cc3ffeeb698257214e8
    <link rel="stylesheet" type="text/css" href="/public/css/site.css">
</head>

<body>
    <h1>{{title}}</h1>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<<<<<<< HEAD
=======
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
>>>>>>> 818ef8e16899fc852e074cc3ffeeb698257214e8
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    {{> (lookup . 'partial') }}
</body>

</html>