<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<header class="head1">
    <p class="paragraph-content">
        <ul>
            <li><a href="#home">The Lazy Traveller</a></li>

            <li>
                <a href="userhome">Home</a></li>
            &nbsp;&nbsp;

            <li><a href="profile">Edit Profile</a></li>
            &nbsp;&nbsp;

            <li><a href="preferences">Edit Preferences</a></li>
            &nbsp;&nbsp;

            <li><a href="contact">Contact</a></li>
            &nbsp;&nbsp;

            <li><a href="aboutus">About Us</a></li>
            &nbsp;&nbsp;

            <li><a href="faq">FAQ</a></li>




            <li style="float:right"><a href="login">Log Out</a></li>

        </ul>

    </p>

</header>


<div class="home">
<main>


 
     

 
 
 <div class="exact1">
<div class="img-a">
<img src="/public/images/aboutus.png" alt="About us" class="img-abtus">
 </div>

<p class="abtus-p">
 Lonely Planet has put travellers at the heart of everything we do,</p>
 <br> <br>
 <p class="abtus-p2">informing and inspiring them with trusted content for print and digital from experts who visit every destination</p>
 </p>
 </div>
 




  <footer id="footer1">
        <p class="paragraph-content">
            <center> &copy; 2019 TheLazyTraveller.com</center>
        </p>
    </footer>
</main>
</div>





