<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/userHome">Home</a></li>

            <li class="left"><a href="/editProfile">Edit Profile</a></li>

            <li class="left"><a href="/editPreferences">Edit Preferences</a></li>

            <li class="left"><a href="/contact">Contact</a></li>

            <li class="left"><a href="/terms">Terms</a></li>

            <li class="left"><a href="/aboutus">About Us</a></li>

            <li class="right"><a href="/logout">Log Out</a></li>
            <li class="right">{{name}}</li>
        </ul>
    </div>
</header>

<div class="aboutUsDetails">
    <h1 class="titleAboutUs">{{title}}</h1>
    <main>
        <div class="aboutUsColumns">
            <div class="firstColumn">
                <section class="column1" id="david">
                    <h2>你好</h2>
                    <div class="imageContainer">
                        <img src="public/images/david.png" alt="Lun-Wei Chang (David)">
                        <div class="overlayAboutUs">
                            <div class="text">Lun-Wei Chang.<br>Backend developer.<br>I'm from Taiwan!</div>
                        </div>
                    </div>
                </section>

                <section class="column1" id="shivani">
                    <h2>مرحبا</h2>
                    <div class="imageContainer">
                        <img src="public/images/shivani.png" alt="Shiwani Deo">
                        <div class="overlayAboutUs">
                            <div class="text">Shiwani Deo.<br>Backend developer.<br>I'm from Abu Dhabi!</div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="secondColumn">
                <section class="column2" id="sushrut">
                    <h2>नमस्ते</h2>
                    <div class="imageContainer">
                        <img src="public/images/sushrut.png" alt="Sushrut Madhavi">
                    </div>
                    <div class="overlayAboutUs">
                        <div class="text">Sushrut Madhavi.<br>Backend developer.<br>I'm from Mumbai!</div>
                    </div>
                </section>

                <section class="column2" id="sakshi">
                    <h2>नमस्कार</h2>
                    <div class="imageContainer">
                        <img src="public/images/sakshi.png" alt="Sakshi Naik">
                    </div>
                    <div class="overlayAboutUs">
                        <div class="text">Sakshi Naik.<br>Frontend developer.<br>I'm from Mumbai!</div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>
<footer id="footer1">
    <p class="paragraph-content">
        &copy; 2019 TheLazyTraveller.com
    </p>
</footer>