<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/signup">Signup</a></li>

            <li class="left"><a href="/contact">Contact</a></li>

            <li class="left"><a href="/terms">Terms</a></li>

            <li class="left"><a href="/aboutus">About Us</a></li>

            <li class="right"><a href="/login">Login</a></li>
        </ul>
    </div>
</header>

<div class="contactUsDetails">
    <main>
        <div class="contactUsImgText">
            <h1>{{title}}</h1>
            <br>
            While we're good with smoke signals, there are simpler ways for us to get in touch
            and answer your questions.
            <br>
            <p>
                Email : contact@TheLazyTraveller.com
            </p>
            <p>
                Phone : +1-500-099-8765
            </p>
            <p>
                Instragram :lazy_traveller
            </p>
            <p>
                Twitter:Lazy_Traveller
            </p>

        </div>
    </main>
</div>
<footer id="footer1">
    <p class="paragraph-content">
        &copy; 2019 TheLazyTraveller.com
    </p>
</footer>