<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<header class="head1">
    <div class="paragraph-content">
        <ul>
            <li><a href="#home">The Lazy Traveller</a></li>

            <li>
                <a href="userhome">Home</a></li>
            &nbsp;&nbsp;

            <li><a href="profile">Edit Profile</a></li>
            &nbsp;&nbsp;

            <li><a href="preferences">Edit Preferences</a></li>
            &nbsp;&nbsp;

            <li><a href="contact">Contact</a></li>
            &nbsp;&nbsp;

            <li><a href="aboutus">About Us</a></li>
            &nbsp;&nbsp;

            <li><a href="faq">FAQ</a></li>




            <li style="float:right"><a href="login">Log Out</a></li>

        </ul>

    </div>

</header>


<div class="home1">
<main>


 
     

 
 
 <div class="exact1">
<div class="img-a">
<img src="/public/images/contact.jpg" alt="Contactus" class="ctus">
 </div>

 <div class="centered">CONTACT US</div>
  <div class="centered1">While we're good with smoke signals, there are simpler ways for us to get in touch and answer your questions. </div>


 <br> <br><br>
 
 <p class="abtus-p1">



 Email : contact@TheLazyTraveller.com
 &nbsp; &nbsp;
 &nbsp;

 Phone : +1-500-099-8765
  &nbsp;
 &nbsp;
 &nbsp;

 Instragram :lazy_traveller
  &nbsp;
 &nbsp;
 &nbsp;

Twitter:Lazy_Traveller

 </div>
 




  <footer id="footer1">
        <p class="paragraph-content">
            <center> &copy; 2019 TheLazyTraveller.com</center>
        </p>
    </footer>
</main>
</div>





