<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/userHome">Home</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/editProfile">Edit Profile</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/editPreferences">Edit Preferences</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/contact">Contact</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/aboutus">About Us</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="right"><a href="/logout">Log Out</a></li>
            <li class = "right">{{name}}</li>
        </ul>
    </div>
</header>
              
<div class="contactUsDetails">
    <main>
        <div class="contactUsImgText">
            <h1>{{title}}</h1>
            <br>
            While we're good with smoke signals, there are simpler ways for us to get in touch
            and answer your questions.
            <br>
            Email : contact@TheLazyTraveller.com
            &nbsp; &nbsp;
            &nbsp;

            Phone : +1-500-099-8765
            &nbsp;

            Instragram :lazy_traveller
            &nbsp;

            Twitter:Lazy_Traveller
        </div>
    </main>
</div>
<footer id="footer1">
    <p class="paragraph-content">
        <center> &copy; 2019 TheLazyTraveller.com</center>
    </p>
</footer>