<main>
    <header class="head1">
        <p class="paragraph-content">
            <ul>
                <li><a href="#home">The Lazy Traveller</a></li>

                <li>
                    <a href="userhome">Home</a></li>
                &nbsp;&nbsp;

                <li><a href="profile">Edit Profile</a></li>
                &nbsp;&nbsp;

                <li><a href="preferences">Edit Preferences</a></li>
                &nbsp;&nbsp;

                <li><a href="contact">Contact</a></li>
                &nbsp;&nbsp;

                <li><a href="aboutus">About Us</a></li>
                &nbsp;&nbsp;

                <li><a href="faq">FAQ</a></li>

                <li style="float:right"><a href="login">Log Out</a></li>

            </ul>

        </p>

    </header>

    <center>
<div class="home1">
<main>
 
 <div class="exact1">
<div class="img-a">
<img src="/public/images/vaccation.png" alt="About us" class="img-er404">
 </div>

<p class="abtus-p">
 Hi,that page just went on a vacation.Sorry about that. Can we help you get back on track?</p>
 </p>
 </div>
<br><br> 

  <div class="info">
            <br>
            <input type="button" value="Login" class="abc">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" value="FAQ" class="abc">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" value="Home" class="abc">
        </div>

    </center>
</div>
</div>
  <footer id="footer1">
        <p class="paragraph-content">
            <center> &copy; 2019 TheLazyTraveller.com</center>
        </p>
    </footer>
</main>
</div>

