<div class="errorPage">
    <main>
        <div id="notfound">
            <div class="notfound-bg"></div>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>404</h1>
                </div>
                <h2>Hi, the page you're looking for just went on a vacation. Can we help you get back on track?</h2>
                <a href="/login">Back To Homepage</a>
            </div>
        </div>
    </main>
</div>