<main>
    <header class="head1">
        <p class="paragraph-content">
            <ul>
                <li><a href="#home">The Lazy Traveller</a></li>

                <li>
                    <a href="userhome">Home</a></li>
                &nbsp;&nbsp;

                <li><a href="profile">Edit Profile</a></li>
                &nbsp;&nbsp;

                <li><a href="preferences">Edit Preferences</a></li>
                &nbsp;&nbsp;

                <li><a href="contact">Contact</a></li>
                &nbsp;&nbsp;

                <li><a href="aboutus">About Us</a></li>
                &nbsp;&nbsp;

                <li><a href="faq">FAQ</a></li>

                <li style="float:right"><a href="login">Log Out</a></li>

            </ul>

        </p>

    </header>

    <center>

        <div id="eg" <h1 class="h11">
            <br><br>
            Can't find what you were looking for?

            <div class="hidden">Can't find what you were looking for?</div>
            </h1>

        </div>
        <div id="eg2">
            Somehow, you have got a bit off the track, but it won't take long to get you back on track.
            <br>

            <div class="hidden">Somehow, you have got a bit off the track, but it won't take long to get you back on
                track.</div>

            You can try your request again, or you might like to visit one of the links below to get more information
            about Lazy Traveller.
        </div>

        <div class="hidden">You can try your request again, or you might like to visit one of the links below to get
            more information about Lazy Traveller..</div>

        <br>

        <div class="info">
            <br>
            <input type="button" value="Login" class="abc">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" value="FAQ" class="abc">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input type="button" value="Home" class="abc">
        </div>

    </center>

    <footer id="footer1">
        <p class="paragraph-content">
            <center> &copy; 2019 TheLazyTraveller.com</center>
        </p>
    </footer>
</main>
