<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<header class="head1">
    <p class="paragraph-content">
        <ul>
            <li><a href="#home">The Lazy Traveller</a></li>

            <li>
                <a href="userhome">Home</a></li>
            &nbsp;&nbsp;

            <li><a href="profile">Edit Profile</a></li>
            &nbsp;&nbsp;

            <li><a href="preferences">Edit Preferences</a></li>
            &nbsp;&nbsp;

            <li><a href="contact">Contact</a></li>
            &nbsp;&nbsp;

            <li><a href="aboutus">About Us</a></li>
            &nbsp;&nbsp;

            <li><a href="faq">FAQ</a></li>




            <li style="float:right"><a href="login">Log Out</a></li>

        </ul>

    </p>

</header>

<div class= "background">

<div class="home">
<main>
<div class="exact">
        <input type="button" class="button1" value="View Itinerary">
 </div>
<br>
<table>
<tr>
    <td>
     <div class="container">

    <img src="/public/images/burjkhalifa.jpg" alt="Burj Khalifa" >
    <div class="overlay">
    <div class="text">Burj Khalifa</div>
  </div>
</div>
</td>

<td>
         <div class="container">

    <img src="/public/images/downtown.jpg" alt="Downtown Dubai" >
    <div class="overlay">
    <div class="text">Downtown Dubai</div>
  </div>
</div>
</td>

<td>
  <div class="container">
    <img src="/public/images/burdubai.jpg" alt="Miracle Garden" >
    <div class="overlay">
    <div class="text">Miracle Garden</div>
  </div>
</div>
</td>

<td>
        <div class="container">
    <img src="/public/images/sanddunes.jpg" alt="Desert Safari" >
    <div class="overlay">
    <div class="text">Desert Safari</div>
  </div>
</div
 </div>
  
</div>
             </td>
         </tr>
     </table>
        <footer id="footer1">
        <p class="paragraph-content">
            <center> &copy; 2019 TheLazyTraveller.com</center>
        </p>
    </footer>
</main>
</div>
</div>