<div class="loginForm">
  <main>
    <form id="loginForm" action="/login" class="new_login_form" method="POST">
      <label for="userEmail">Email:</label>
      <input id="userEmail" type="email" name="user_email" placeholder="Enter your email" class="full-width-input">
      <br>
      <br>
      <div class="error-msg" id="noEmail">
        <i class="fa fa-times-circle"></i>
        Email is required!
      </div>
      <br>
      <label for="userPass">Password:</label>
      <input id="userPass" type="password" name="user_password" placeholder="Enter your password"
        class="full-width-input">
      <br>
      <br>
      <div class="error-msg" id="noPassword">
        <i class="fa fa-times-circle"></i>
        Password is required!
      </div>
      <br>
      <p class="invalidPassword">{{invalidPasswordError}}</p>
      <button type="submit" formmethod="post">Submit</button>
</form>
</main>
</div>