<div class="loginForm">
  <main>
    <header class="head1">
      <div class="paragraph-content">The Lazy Traveller </div>
    </header>
    <form id="loginForm" action="/login" class="new_login_form" method="POST">
      <div id="shadow">
        <label for="userEmail">Email:</label>
        <input id="userEmail" type="email" name="user_email" placeholder="Enter your email" class="full-width-input">
        <br>
        <div class="error-msg" id="noEmail">
          <i class="fa fa-times-circle"></i>
          Email is required!
        </div>
        <br>
        <label for="userPass">Password:</label>
        <input id="userPass" type="password" name="user_password" placeholder="Enter your password"
          class="full-width-input">
        <br>
        <div class="error-msg" id="noPassword">
          <i class="fa fa-times-circle"></i>
          Password is required!
        </div>
         <br>

        <p class="invalidPassword">{{invalidPasswordError}}</p>
        <button type="submit" formmethod="post">Log In</button>
        <br>
        <br>
        <a id="signup_button" href="/signup" type="text/html">Sign up here</a>
        <br>
            <a href="/forgotpassword">Forgot Password?</a>
        <br>
        <br>

      </div>

    </form>
    <br>
    <footer id="footer1">
      <p class="paragraph-content">
        <center> &copy; 2019 TheLazyTraveller.com</center>
      </p>
    </footer>
</div>
</main>