<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/userHome">Home</a></li>

            <li class="left"><a href="/editProfile">Edit Profile</a></li>

            <li class="left"><a href="/editPreferences">Edit Preferences</a></li>

            <li class="left"><a href="/contact">Contact</a></li>

            <li class="left"><a href="/terms">Terms</a></li>

            <li class="left"><a href="/aboutus">About Us</a></li>

            <li class="right"><a href="/logout">Log Out</a></li>
            <li class="right">{{name}}</li>
        </ul>
    </div>
</header>
<div class="tablet1">
     <h1>Oops, you don't seem to have an itinerary yet</h1>
    <h2>What are you waiting for? The world is waiting to be explored.</h2>
    <table>
        <tr>
               <td>
                 <img src="/public/images/mountain.jpg" alt="monutain" class="images">  
               </td> 
               <td>
                   <img src="/public/images/mountain2.jpg" alt="mountain" class="images">  
               </td>
            
             <td>
                   <img src="/public/images/mountain3.jpg" alt="mountain" class="images">  
            </td>
             <td>
                   <img src="/public/images/beach.jpg" alt="beach" class="images">  
               </td>
                <td>
                   <img src="/public/images/beach2.jpg" alt="Beach" class="images">  
               </td>
                  <td>
                   <img src="/public/images/bridge.jpg" alt="Bridge " class="images">  
               </td>
        </tr>
    </table>
    </div>
     

      <div class="displayItinerary">

      
    <div class="viewItinerary">
        <a id="generateItineraryButton" href="/generateItinerary">Generate Itinerary</a>
    </div>
</div>
<div class="loader-spinner-outer" id="loader-itinerary-outer">
    <div class="loader-spinner" id="loader-itinerary"></div>
</div>
<footer id="footer1">
    <p class="paragraph-content"> &copy; 2019 TheLazyTraveller.com</p>
</footer>