<div class="errorPage">
    <main>
        <div id="notfound">
            <div class="notfound-bg"></div>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>OOPS!</h1>
                </div>
                <h2>Something went wrong, please try again later.</h2>
                <a class="backToHome" href="/home">Back To Homepage</a>
            </div>
        </div>
    </main>
</div>