<div class="termsPage">
    <main>
        <header class="head1">
            <div class="navigation">
                <ul class="navbar">
                    <li class="left"><a href="/home">The Lazy Traveller</a></li>

                    <li class="left"><a href="/userHome">Home</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="left"><a href="/editProfile">Edit Profile</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="left"><a href="/editPreferences">Edit Preferences</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="left"><a href="/contact">Contact</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="left"><a href="/aboutus">About Us</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <li class="right"><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </header>

        <br>
        <div class="termsAndConditions">
            <h1>{{title}}</h1>
            <ul class="listOfTerms">
                <li>Your contract in respect of your holiday is made with Lazy Traveller (‘the Company‘), registered in
                    Oman
                    and all bookings are subject to these terms and conditions.
                </li>

                <li> All communications by the Company in relation to your holiday will be sent to the address stated on
                    the
                    booking form.
                </li>

                <li>All bookings must be made through an authorised representative of the Company. At the time of
                    booking
                    the Company booking form must be completed and submitted together with a deposit of 50% of the total
                    cost of
                    the booking.
                </li>

                <li>Receipt of the deposit and booking form by the Company does neither guarantee nor imply confirmation
                    of
                    the booking. No booking shall be confirmed until the Company issues a written notice. The Company
                    reserves
                    the right to refuse a booking without giving any reason and shall in that event return any deposit
                    received.
                </li>

                <li>Your holiday must be paid in full at least 30 days before the departure date. If payment is not
                    received
                    by the due date, the Company reserves the right to cancel the booking and retain the deposit. The
                    person
                    who signs the booking form guarantees payment of the total amount shown on the booking form in
                    accordance
                    with these conditions. It is the responsibility of the signatory to ensure the Company receives
                    payment
                    in
                    full by the due date. No reminders will be sent.
                </li>
            </ul>
            <a href='/signup' class="terms-signup">Back to Signup</a>
        </div>
        <footer id="footer1">
            <p class="paragraph-content">
                <center> &copy; 2019 TheLazyTraveller.com</center>
            </p>
        </footer>
    </main>
</div>