<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/signup">Signup</a></li>

            <li class="left"><a href="/contact">Contact</a></li>

            <li class="left"><a href="/terms">Terms</a></li>

            <li class="left"><a href="/aboutus">About Us</a></li>

            <li class="right"><a href="/login">Login</a></li>
        </ul>
    </div>
</header>

<div class="termsPage">
    <main>
        <br>
        <div class="termsAndConditions">
            <h1>{{title}}</h1>
            <p class="intro">These terms and conditions contained herein on this webpage, shall govern your use of Lazy
                Traveller. These terms apply in full force and effect to your use of Lazy traveller and by using
                Lazy traveller, you expressly accept all terms and conditions contained herein in full. You must not
                use Lazy Traveller, if you have any objection to any of these terms and conditions.
            </p>
            <h2>Read the below terms carefully.</h2>
            <ul class="listOfTerms">
                <li>
                    <h3>
                        Intellectual Property Rights
                    </h3>
                    All content made available on this website, including but not limited to, any files downloaded as
                    part of its use, are without exception, the sole property of Lazy Traveller. You are granted a
                    limited license only, subject to the restrictions provided in these terms, for purposes of viewing
                    the material contained on this website. Reselling or redistributing any of this content, without the
                    explicit permission of Lazy traveller is strictly prohibited.
                </li>

                <li>
                    <h3>
                        No Guarantees
                    </h3>
                    All services provided by Lazy traveller are provided “as is” with all faults and Lazy traveller or
                    any of its partners make no guarantees or are liable for any complication arising out of or in any
                    way connected with your use of this website. The use of itineraries provided by Lazy traveller is at
                    sole responsibility of the user, and Lazy Traveller shall not be held responsible for any
                    limitations or information therein or any harm such may cause. Lazy Traveller takes no
                    responsibility for any sudden changes that may occur, including in but not limited to weather,
                    political situation or economic state that may cause some or all of the content in its itineraries
                    to become obsolete. Any such occurrence, while regrettable is in no way grounds for compensation of
                    any form from Lazy Traveller.
                </li>

                <li>
                    <h3>
                        Severability
                    </h3>
                    If any provision of these terms is found to be unenforceable or invalid under any applicable law,
                    such unenforceability or invalidity shall not render these terms unenforceable or invalid as a
                    whole, and such provisions shall be deleted without affecting the remaining provisions herein.
                </li>

                <li>
                    <h3>
                        Liable To Change Terms
                    </h3>
                    Lazy Traveller shall be permitted to revise these terms at any time as they see fit, and by using
                    this website, you are expected to review these terms to ensure you understand all terms and
                    conditions governing use of this website.
                </li>
            </ul>
        </div>
    </main>
</div>
<footer id="footer1">
    <p class="paragraph-content">
        &copy; 2019 TheLazyTraveller.com
    </p>
</footer>