<main>
    <form action="/user" method="POST" id="preferences-form">
        <label for="gender-input"> Gender: </label>
        <input type="radio" name="gender" value="male" id="gender-input" checked> Male
        <input type="radio" name="gender" value="female" id="gender-input"> Female
        <input type="radio" name="gender" value="other" id="gender-input"> Other<br>
        <div class="error" id="gender-missing" hidden>
            <p>Error! Gender is missing!</p>
        </div>

        <label for="dob-input">Birthday: </label>
        <input type="date" name="dob" id="dob-input"><br>
        <div class="error" id="birthday-missing" hidden>
            <p>Error! Enter your birthday!</p>
        </div>

        <label for="mealPref-input">Meal Preference: </label>
        <input type="checkbox" name="vegan" id="mealPref-input">Vegan
        <input type="checkbox" name="vegetarian" id="mealPref-input">Vegetarian
        <input type="checkbox" name="whiteMeat" id="mealPref-input">White Meat
        <input type="checkbox" name="redMeat" id="mealPref-input">Red Meat
        <input type="checkbox" name="seafood" id="mealPref-input">Seafood
        <input type="checkbox" name="eggs" id="mealPref-input">Eggs<br>
        <div class="error" id="mealPref-missing" hidden>
            <p>Select at least one meal preference!</p>
        </div>

        <label for="tourType-input">Tour type: </label>
        <input type="checkbox" name="business" id="tourType-input">Business
        <input type="checkbox" name="hiking" id="tourType-input">Hiking
        <input type="checkbox" name="scenic" id="tourType-input">Scenic
        <input type="checkbox" name="adventureSports" id="tourType-input">Adventure Sports
        <input type="checkbox" name="historical" id="tourType-input">Historical
        <input type="checkbox" name="sightseeing" id="tourType-input">Sightseeing
        <input type="checkbox" name="culinary" id="tourType-input">Culinary<br>
        <div class="error" id="tourType-missing" hidden>
            <p>Select at least one tour type!</p>
        </div>


        <label for="travelers-input">Number of travelers: </label>
        <input type="number" name="nTravelers" id="travelers-input" min="1" max="20"><br>
        <div class="error" id="ntravelers-missing" hidden>
            <p>Error! Enter number of travelers.</p>
        </div>

        <label for="specialNeeds-input">Special Needs: </label>
        <input type="checkbox" name="physical" id="specialNeeds-input">Physical
        <input type="checkbox" name="developmental" id="specialNeeds-input">Developmental
        <input type="checkbox" name="behavioral" id="specialNeeds-input">Behavioral
        <input type="checkbox" name="sensoryImpaired" id="specialNeeds-input">Sensory Impaired<br>

        <label for="budget-input">Budget: </label>
        <input type="number" name="budget" id="budget-input"><br>
        <div class="error" id="budget-missing" hidden>
            <p>Error! Enter your budget.</p>
        </div>

        <label for="travelStart-input">Travel Start Date: </label>
        <input type="date" name="travelDateStart" id="travelStart-input"><br>
        <div class="error" id="startDate-missing" hidden>
            <p>Error! Enter travel start date.</p>
        </div>

        <label for="travelEnd-input">Travel End Date: </label>
        <input type="date" name="travelDateEnd" id="travelEnd-input"><br>
        <div class="error" id="endDate-missing" hidden>
            <p>Error! Enter travel end date.</p>
        </div>

        <button type="submit">Submit</button>
    </form>
</main>