<header class="head1">
  <div class="navigation">
    <ul class="navbar">
      <li class="left"><a href="/home">The Lazy Traveller</a></li>

      <li class="left"><a href="/userHome">Home</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="left"><a href="/editProfile">Edit Profile</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="left"><a href="/editPreferences">Edit Preferences</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="left"><a href="/contact">Contact</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="left"><a href="/aboutus">About Us</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="right"><a href="/logout">Log Out</a></li>
    </ul>
  </div>
</header>

<div class="homePage">
  <main>
    <div class="viewItinerary">
        <form action="/viewItinerary">
         <button class="viewItineraryButton" type="submit">View Itinerary</button>
      </form>
 </div>
    <table class="userHomeTable">
      <tr>
        <td>
          <div class="container">
            <img src="/public/images/burjkhalifa.jpg" alt="Burj Khalifa">
            <div class="overlay">
              <div class="text">Burj Khalifa</div>
            </div>
          </div>
        </td>

        <td>
          <div class="container">
            <img src="/public/images/downtown.jpg" alt="Downtown Dubai">
            <div class="overlay">
              <div class="text">Downtown Dubai</div>
            </div>
          </div>
        </td>

        <td>
          <div class="container">
            <img src="/public/images/burdubai.jpg" alt="Miracle Garden">
            <div class="overlay">
              <div class="text">Miracle Garden</div>
            </div>
          </div>
        </td>

        <td>
          <div class="container">
            <img src="/public/images/sanddunes.jpg" alt="Desert Safari">
            <div class="overlay">
              <div class="text">Desert Safari</div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </main>
</div>
<footer id="footer1">
  <p class="paragraph-content">
    <center> &copy; 2019 TheLazyTraveller.com</center>
  </p>
</footer>