<header class="head1">
    <div class="navigation">
        <ul class="navbar">
            <li class="left"><a href="/home">The Lazy Traveller</a></li>

            <li class="left"><a href="/userHome">Home</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/editProfile">Edit Profile</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/editPreferences">Edit Preferences</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/contact">Contact</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="left"><a href="/aboutus">About Us</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <li class="right"><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</header>
<div class="displayItinerary">
    <h1>{{title}}</h1>
    <main>
        <object data="public/uploads/itinerary.pdf"></object>
    </main>
</div>
<footer id="footer1">
    <p class="paragraph-content"> &copy; 2019 TheLazyTraveller.com</p>
</footer>