<main>
  <section>
      <header>
        <h1>{{tab_title}}</h1>
      </header>
      <p>User Eamil: {{user_email}}</p>
      <p>User Password: {{user_pass}}</p>
      <a href="/logout">Logout</a>
  </section>
</main>